@{
    ViewData["Title"] = "Sobre a demonstração";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto web baseado em ASPNET Core realiza upload de um arquivo no serviço de storage dos principais provedores de nuvem. Bem como, permite listar os objetos armazenados; os quais os registros foram feitos em Azure Table.</p>

<p>Projeto construído para a disciplina Cloud Computing e Internet das Coisas do curso Tecnologia em Sistemas para Internet (TSI) do Senac-SP.</p>

<h2>Funcionalidades</h2>
<ol>
    <li>Realiza o upload para os storages</li>
    <li>Lista os arquivos listados, os quais os registros foram armazenados em Azure Table</li>
    <li>Scripts em Powershell para criar os repositórios nos provedores de cloud</li>
</ol>